html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 0;
}

.global-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper-head-main {
  flex-grow: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.user-img {
  width: 150px;
  height: 150px;
}
