.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__img {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  &__img-input {
    display: flex;
    justify-content: center;
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.error-text {
  color: red;
}
