.header-wrapper {
  display: block;
}

.header {
  background-color: #343a40;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  padding: 8px 16px;

  &__container {
    display: flex;
    align-items: center;
    padding: 0 15px;
  }

  &__site-name-link {
    color: #fff;
    font-size: 1.25rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
  }

  &__links-list {
    display: flex;
  }

  &__link-ul {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
  }
}

.header-mb {
  margin-bottom: 50px;
}
